.Home_skills__11BTZ {
    width: 50%;
    margin: 10px 0;
    display: grid;
    transition: all .5s ease;
    grid-template-columns: repeat(2, 1fr)
}

.Home_skill__1Jkc3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    padding: 25px;
    border-radius: 1rem;
    line-height: 1.6;
    transition: all .5s ease;
    margin: 0 auto
}

.Home_skill__1Jkc3 .Home_text__dq4ii {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.Home_skill__1Jkc3 .Home_text__dq4ii p {
    font-weight: 600;
    text-align: left
}

.Home_skill__1Jkc3 .Home_text__dq4ii .Home_right__3oqW8 {
    font-weight: 400;
    text-align: right
}

.Home_skill__1Jkc3 .Home_progress__2SKTi {
    margin-top: 5px;
    height: 5px;
    width: 100%;
    background-color: var(--grey)
}

.Home_skill__1Jkc3 .Home_fillUI__2zM3b {
    background-color: #df3f17;
    width: 40%;
    height: 5px
}

.Home_skill__1Jkc3 .Home_fillJS__2Y5J3 {
    background-color: #f7df1e;
    width: 25%;
    height: 5px
}

.Home_skill__1Jkc3 .Home_fillCH__3sup8 {
    background-color: #0cdf0c;
    width: 20%;
    height: 5px
}

.Home_skill__1Jkc3 .Home_fillCPP__3sur8 {
    background-color: #9d1ed8;
    width: 20%;
    height: 5px
}

.Home_skill__1Jkc3 .Home_fillCPP__3surw {
    background-color: #1523e7;
    width: 5%;
    height: 5px
}