.col-blue {
    background-color: #304be0;
}
.col-orange {
    background-color: #ff4c1e;
}
.col-red {
    background-color: #6e0808;
}
.col-lblue {
    background-color: #00589d;
}
.col-green {
    background-color: #53b413;
}

.col-gray-white {
    color: #c9d1d9;
}
.pbar-bg {
    background-color: #464650;
}
.backg-dark {
    background-color: #12171f;
}
