[data-tooltip] {
    position: relative;
}
[data-tooltip]::after {
    margin-left: -27%;
    content: attr(data-tooltip);
    position: absolute;
    width: 100px;
    left: 0;
    top: 0;
    background: #373749;
    color: #fff;
    padding: 0.5em;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    pointer-events: "none";
    opacity: 0;
    transition: 0.5s;
    border-radius: 1em;
}
[data-tooltip]:hover::after {
    opacity: 1;
    top: 2em;
}
.rounded-img {
    width: 40%;
    border-radius: 50%;
    background-color: #bababa;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
    padding: 0.3em;
}
.pbar-text {
    margin-top: 1px;
}

.item-container {
    margin-top: 15px;
    position: static;
    display: flex;
}
.item {
    display: inline-block;
    margin: 0 auto;
}

.socials {
    text-decoration: none;
    font-size: 20px;
    fill: white;
    svg {
        margin-bottom: 3px;
    }
    margin-right: 3px;
    margin-left: 3px;
}
.socials:hover {
    color: #9d9fa2;
    text-decoration: none;
    fill: #9d9fa2;
}
